//- Browser support panel
mixin browserSupport(chrome, ff, safari, msie, opera)
  .browser-support
    .support.chrome
    .support-version !{chrome}
    .support.ff
    .support-version !{ff}
    .support.safari
    .support-version !{safari}
    .support.msie
    .support-version !{msie}
    .support.opera
    .support-version !{opera}

//- CSS priorities component
mixin priorities(inline, ids, classes, elements)
  .priorities
    .labels
      small inline
      small IDs
      small classes
      small elements
    .levels
      .priority-level
        !{inline}
      .priority-level
        !{ids}
      .priority-level
        !{classes}
      .priority-level
        !{elements}

//- Write the Google Analytics code
mixin analytics
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2309405-10']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

//- Header for a lab, with the appropiate ID 
mixin labHeader(title)
  //- For IDs, exclude everything after a colon ':'
  -var labId = title.match(/([^:]+)(:.+)?/)[1];
  header(id="lab-" + labId.toLowerCase().replace(' ', '-'))
    h2 !{title}
    a(href="#index").back « Back to index

mixin appHeader(title)
  -var labId = title.match(/([^:]+)(:.+)?/)[1];
  header(id="lab-app-" + labId.toLowerCase().replace(' ', '-'))
    h2 !{title}
    a(href="#index").back « Back to index

mixin datePicker
  table.date-picker-block.table.table-bordered(style="display:none;")
    tbody
      tr <td>1</td> <td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> 
      tr <td>8</td> <td>9</td> <td>10</td> <td>11</td> <td>12</td> <td>13</td> <td>14</td> 
      tr <td>15</td> <td>16</td> <td>17</td> <td>18</td> <td>19</td> <td>20</td> <td>21</td> 
      tr <td>22</td> <td>23</td> <td>24</td> <td>25</td> <td>26</td> <td>27</td> <td>28</td> 
      tr <td>29</td> <td>30</td>